<h1 #head (click)="myname=head.innerHTML">I am the root component</h1>
<p>{{myfun()}}</p>
<ul>
    <li *ngFor="let f of my_friends">{{f}}</li>
</ul>

<label for="">Enter your name <input type="text" #input1></label>
<br>
<button (click)="addperson(input1)">Add</button>
<p *ngFor="let nf of new_persons">{{nf|reverse:"doublequote"}}</p>
<h2>{{"hello"|uppercase}}</h2>
<h2>{{"hellovardhan"|titlecase}}</h2>
<p>{{"2/31/2001"|date}}</p>
<p>{{mynum|currency:"INR":"code"}}</p>
<h1>from child using ref called </h1>
<p *ngFor="let cllge of collegenames">{{cllge}}</p>
<p>{{pfirstname}}</p>
<p>{{plastname}}</p>

<ul>
    <li><a routerLink="child1">child1</a></li>
    <li><a routerLink="child2">child2</a></li>
</ul>

<router-outlet></router-outlet>

<app-form></app-form>




